</div> <!--container-closed-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $("#searchForm").on("submit",function(e){
            e.preventDefault();
            var searchText = document.getElementById("searchInput").value;
            var li_value = $('input[type=radio]:checked')[0].attributes.value.textContent;
            var friendSearch = $('input[type=checkbox]')[0].checked;
            if(searchText.length >= 4){
                search(searchText,li_value,friendSearch);
            }
        });
        $('#searchForm').on('input',function(){
            var searchText = document.getElementById("searchInput").value;
            var li_value = $('input[type=radio]:checked')[0].attributes.value.textContent;
            var friendSearch = $('input[type=checkbox]')[0].checked;
            if(searchText.length >= 4){
                search(searchText,li_value,friendSearch);
            }else{
                $('#resultList').empty().hide();
            }
        });

        function search(searchText,filter,friendSearch){
            $.ajax({
               url: '/search',
               type: "GET",
               data: {query: searchText, f: filter, fs: friendSearch},
               success: function(data){
                    $('#resultList').empty();
                    if(data.length > 0){
                        var i = 0;
                        data.forEach(function(el){
                            var encodedTitle = encodeURIComponent(el.heading);
                            var link;
                            if(el.el_type == "notes"){
                                link = `<a class="list-group-item list-group-item-action" style="position: absolute; top: calc(100% + (45px + ${i}px));" href="/${el.el_type}/${el.author}/${encodedTitle}">${el.heading}</a>`;
                            }else{
                                link = `<a class="list-group-item list-group-item-action" style="position: absolute; top: calc(100% + (45px + ${i}px));" href="/${el.author}/showTodos">${el.heading}</a>`;
                            }
                            $('#resultList').append(link);
                            i += 42;
                        });
                        $('#resultList').show();
                    }else{
                        $('#resultList').hide();
                    }
               },
               error: function(error){
                    console.error('Error fetching search results: ',error);

               }
            });
        }
    });
</script>
</body>
</html>