<%- include("partials/header"); -%>
<div class="container" style="text-align: center; margin-top: 10px;">
    <h5>Add friend with name</h5>
    <form action="/user/addFriend" method="post">
        <div class="row" style="position: relative; justify-content: center; align-items: center;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-floating">
                    <input type="text" id="friendUsername" name="friendUsername" class="form-control" required/>
                    <label for="friendUsername">Username: </label>
                </div>
            </div>
        </div>
        <div class="row" style="position: relative; justify-content: center; align-items: center; margin-top: 10px;">
            <div class="col-lg-2 col-md-2 col-sm-4">
                <button type="submit" class="btn btn-outline-info">Add Friend</button>
            </div>
        </div>
    </form>

</div>
<%- include("partials/footer"); -%>