:root {
    --my-white: #ffe1cd;
    --my-tomato: tomato;
    --my-green: #00916e;
    --my-yellow: #ffcf00;
    --my-yellow-dark: #c8a300;
    --my-black: #001524;
    --my-unripe-tomato: #90b148;
    --my-ripe-tomato: rgb(247, 53, 53);
}