@keyframes become-ripe {
    0% {
        background-color: var(--my-unripe-tomato);
    }

    100% {
        background-color: var(--my-ripe-tomato);
    }
}

@keyframes become-unripe {
    0% {
        background-color: var(--my-ripe-tomato);
    }

    100% {
        background-color: var(--my-unripe-tomato);
    }
}